@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center mt-5">
    <h1 class="display-4">Bem-vindo a <i class="fas fa-book-open"></i> Vitural</h1>
    <h3>Catalogo virtual de livros</h3>
</div>
